<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="spider-common.properties" />
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<typeAliases>
		<typeAlias alias="SourceFeed" type="inveno.spider.common.model.SourceFeed" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${db.driver}" />
				<property name="url" value="${db.connection.url.read}" />
				<property name="username" value="${db.username.read}" />
				<property name="password" value="${db.password.read}" />
				<property name="poolMaximumActiveConnections" value="30" />
				<property name="poolMaximumIdleConnections" value="15" />
				<property name="poolMaximumCheckoutTime" value="20000" />
				<property name="poolPingQuery" value="SELECT 1" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingConnectionsNotUsedFor" value="0" />
			</dataSource>
		</environment>

	</environments>

	<mappers>
		<mapper resource="inveno/spider/common/mapper/SourceFeedMapper.xml" />
	</mappers>
</configuration>
