<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="inveno.spider.common.mapper.SequenceMapper" >
  
  	<!-- 获取序列 -->
  	<select id="querySequenceVal" resultType="string">
  		select getCommonSeqVal(#{seqName,jdbcType=VARCHAR}) from dual
  	</select>
</mapper>

