.project
!webant-client
!webant-core
!pom.xml
*/.settings*
*/.svn
*/target
*/.classpath*
*/.project
*/*.log
*/webant/.svn
*/*/*.svn
*/*/.classpath
.settings
*/lib
*.class
*/*/*.prefs
*/*/*.project
.classpath
*.prefs
.metadata/
.recommendersi/
*/bin/*
